<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div id="class_image">
  <img src=/images/group_lab02.jpg></a>
  </div>
  
 <div class="sidebar">
        <h3>Wicked cool stuff we are learning</h3>
        <p>
          <ul>
            <li><a href="https://www.ruby-lang.org">Ruby</a></li>
            <li><a href="http://diveintohtml5.info/">HTML 5</a></li>
            <li><a href="http://learnlayout.com/">CSS</a></li>
            <li><a href="http://javascriptissexy.com/">Javascript</a></li>
            <li><a href="http://rubyonrails.org/">Rails</a></li>
          </ul>
        </p>
  </div>
  
  </body>
</html>