<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <img src="http://framingpainting.com/UploadPic/2011/big/cosmo%20kramer.jpg">

 <aside class="sidebar">
        <h4>Wicked cool stuff we are learning</h4>
        <p>
          <ul>
            <li><a href="https://www.ruby-lang.org">Ruby</a></li>
            <li><a href="http://diveintohtml5.info/">HTML 5</a></li>
            <li><a href="http://learnlayout.com/">CSS</a></li>
            <li><a href="http://javascriptissexy.com/">Javascript</a></li>
            <li><a href="http://rubyonrails.org/">Rails</a></li>
          </ul>
        </p>
  </aside>
  
  </body>
</html>