<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div id="container">
    <header>
      <a href="/home"><img src=/images/logo-GA.png width=90 height=90></a>
      
      <div class="navstudent">
        <ul>
          <li><a href="/student/anne">Anne</a></li>
          <li><a href="/student/kriss">Kriss</a></li>
          <li><a href="/student/mark">Mark</a></li>
          <li><a href="/student/tom">Tom</a></li>
        </ul>
      </nav>
    </header>
  
    <%= yield %>

    
    <footer>
      <div class="navmain">
        <ul>
          <li><a href="/home">home</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
    </footer>
    <p>Copyright © 2014 GA_WDI4 Inc. All rights reserved</p>
  </div><!-- /#container -->
</body>
</html>